<p>Game: <%= @game.id %></p>
<p>Player: <%= @player_id %></p>
<%= if @game.data["status"] == "new" and @game.data["creator_id"] == @player_id do%>
 <%= link "Start game", to: Routes.seka_path(@conn, :start, @game.id), method: :post %>
<% end %>
<pre>
    <code>
        <%= inspect(@game, pretty: true) %>
    </code>
</pre>
