<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Chewata</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
      <div class="w3-white" style="width: 800px; margin-left: auto; margin-right: auto; margin-top: 20px; padding: 30px">
        <header>
          <section class="flex-row">
            <div class="w3-margin-right">
              <img src="<%= Routes.static_path(@conn, "/images/circle.jpg") %>" alt="Circle Logo" width="70"/>
            </div>
            <a href="<%= Routes.page_path(@conn, :index) %>" style="text-decoration: none">
              <h1>Chewata</h1>
            </a>
          </section>
          <div class=" w3-bar">
            <%= if @conn.path_info != [] && hd(@conn.path_info) == "seka" do %>
              <%= link "Seka", to: Routes.seka_path(@conn, :index), class: "w3-bar-item w3-button w3-bottombar w3-hover-none w3-hover-text-blue w3-border-blue w3-text-blue w3-xlarge" %>
            <% else %>
              <%= link "Seka", to: Routes.seka_path(@conn, :index), class: "w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-blue w3-hover-text-blue w3-xlarge" %>
            <% end %>
          </div>
        </header>
        <main >
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= @inner_content %>
        </main>
      </div>
  </body>
</html>
